<div *ngIf="selectedElement$ | async as selectedElement">
    <h3>Edit {{ selectedElement.label }}</h3>

    <div>
        <label>Label:</label>

        <input [(ngModel)]="selectedElement.label" placeholder="Label" />
    </div>
    <br>

    <div *ngIf="selectedElement.type === 'input'">
        <label>Input Type:</label>
        <select [(ngModel)]="selectedElement.inputType">
            <option value="text">Text</option>
            <option value="number">Number</option>
            <option value="email">Email</option>
            <option value="password">Password</option>
            <option value="tel">Telephone</option>
            <option value="url">URL</option>
        </select>

        <label>Placeholder:</label>
        <input [(ngModel)]="selectedElement.placeholder" placeholder="Placeholder" />
    </div>




    <div *ngIf="selectedElement.type === 'button'">
        <label>Button Text:</label>
        <input [(ngModel)]="selectedElement.label" placeholder="Button Text" />

        <label>Button Color:</label>
        <input [(ngModel)]="selectedElement.buttonColor" type="color" />

        <label>Text Color:</label>
        <input [(ngModel)]="selectedElement.textColor" type="color" />

        <!-- Yeni eklenen alanlar -->
        <label>Border Style:</label>
        <input [(ngModel)]="selectedElement.borderStyle" placeholder="Border (e.g., '2px solid #000')" />

        <label>Width:</label>
        <input [(ngModel)]="selectedElement.width" placeholder="Width (e.g., '150px')" />

        <label>Height:</label>
        <input [(ngModel)]="selectedElement.height" placeholder="Height (e.g., '50px')" />
    </div>



    <div *ngIf="selectedElement.type === 'radio-button'">
        <label>Options:</label>
        <input [(ngModel)]="selectedElement.options" placeholder="Options (comma separated)" />
    </div>

    <div *ngIf="selectedElement.type === 'dropdown'">
        <div>
            <label>Add Option:</label>
            <input [(ngModel)]="newOption" placeholder="New Option" />
            <button (click)="addOption(selectedElement)">Add</button>
        </div>

        <div>
            <h4>Current Options:</h4>
            <ul>
                <li *ngFor="let option of selectedElement.options">{{ option }}</li>
            </ul>
        </div>

    </div>
    <button (click)="updateElement()">Save Changes</button>