<div *ngIf="selectedElement$ | async as selectedElement"
    style="padding-left: 15px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <h3>Edit {{ selectedElement.label }}</h3>

    <!-- <div>
        <label>Label:</label>

        <input [(ngModel)]="selectedElement.label" placeholder="Label" />
    </div>
    <br> -->

    <div *ngIf="selectedElement.type === 'input'">
        <label>Input Type:</label>
        <select [(ngModel)]="selectedElement.inputType">
            <option value="text">Text</option>
            <option value="number">Number</option>
            <option value="email">Email</option>
            <option value="password">Password</option>
            <option value="tel">Telephone</option>
            <option value="url">URL</option>
        </select>

        <label>Placeholder:</label>
        <input [(ngModel)]="selectedElement.placeholder" placeholder="Placeholder" />
    </div>




    <div *ngIf="(selectedElement$ | async) as selectedElement">
        <div *ngIf="selectedElement.type === 'button'">
            <label>Button Text:</label>
            <input [(ngModel)]="selectedElement.label" placeholder="Button Text" />
            <br />

            <label>Button Color:</label>
            <input style="margin-left: 40px; margin-top: 5px" [(ngModel)]="selectedElement.buttonColor" type="color" />
            <br />

            <label>Text Color:</label>
            <input style="margin-left: 58px; margin-top: 5px" [(ngModel)]="selectedElement.textColor" type="color" />



            <label style="margin-top: 5px;">Border Thickness:</label>
            <input style="margin-top: 5px" [(ngModel)]="selectedElement.borderThickness"
                placeholder="Border Thickness (e.g., '10')" (blur)="addPxToBorderThickness(selectedElement)" />
            <br />

            <label>Border Color:</label>
            <input style="margin-left: 40px; margin-top: 5px" [(ngModel)]="selectedElement.borderColor" type="color" />
            <br />

            <!-- Diğer alanlar -->
            <label>Width:</label>
            <input [(ngModel)]="selectedElement.width" placeholder="Width (e.g., '150px')"
                (blur)="addPxToWidth(selectedElement)" />
            <br />

            <label>Height:</label>
            <input [(ngModel)]="selectedElement.height" placeholder="Height (e.g., '50px')"
                (blur)="addPxToHeight(selectedElement)" />
            <br />

            <!-- Güncellenmiş elementi kaydetme butonu -->
            <!-- <button (click)="updateElement()">Update Element</button> -->
        </div>
    </div>





    <div *ngIf="selectedElement.type === 'radio-button'">
        <label>Options:</label>
        <input [(ngModel)]="selectedElement.options" placeholder="Options (comma separated)" />
    </div>

    <div *ngIf="selectedElement.type === 'dropdown'">
        <div>
            <label>Add Option:</label>
            <input [(ngModel)]="newOption" placeholder="New Option" />
            <button (click)="addOption(selectedElement)">Add</button>
        </div>

        <div>
            <h4>Current Options:</h4>
            <ul>
                <li *ngFor="let option of selectedElement.options">{{ option }}</li>
            </ul>
        </div>



        <div *ngIf="selectedElement.type === 'radio-button'">
            <label>Options:</label>
            <div>
                <input [(ngModel)]="newOption" placeholder="New Option" />
                <button (click)="addOption(selectedElement)">Add</button>
            </div>

            <div>
                <h4>Current Options:</h4>
                <ul>
                    <li *ngFor="let option of selectedElement.options">
                        {{ option }}
                        <button (click)="removeOption(selectedElement, option)">Remove</button>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <!-- <button (click)="updateElement()">Save Changes</button> -->