<div class="layout-container" cdkDropList #layoutDropList="cdkDropList" [cdkDropListData]="formElements$ | async"
    (cdkDropListDropped)="drop($event)">
    <!-- Display a message if the layout is empty -->
    <div *ngIf="(formElements$ | async)?.length === 0" class="empty-layout">
        Drag items here to build your form
    </div>

    <!-- List the form elements -->
    <div *ngFor="let element of formElements$ | async" cdkDrag class="item-element" (click)="editElement(element)">
        {{element.type}}
        {{ element.label }}


    </div>
</div>